
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

h1, h2, h3 {
  font-family: 'Helvetica', sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

a:hover {
  color: #007bff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #111;
  border-bottom: 1px solid white;
  animation: slideDown 0.8s ease;
}

@keyframes slideDown {
  from {
      transform: translateY(-100%);
  }
  to {
      transform: translateY(0);
  }
}

.navbar .logo {
  font-family: 'MuseoModerno';
  font-size: 24px;
  font-weight: bold;
  transition: transform 0.3s ease;
}

.navbar .logo:hover {
  transform: scale(1.1);
}

.navbar nav ul {
  display: flex;
}

.navbar nav ul li {
  margin: 0 15px;
  font-family: 'MuseoModerno';
}

.navbar nav ul li a:hover {
  color: #f39c12;
}

/* Hero Section */
.hero {
  text-align: center;
  padding: 50px 0;
}

.hero h1 {
  font-family: chivo;
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 20px;
  animation: fadeInFromLeft 1s ease;
}

@keyframes fadeInFromLeft {
  from {
      transform: translateX(-50%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

.hero-image {
  border: 1px solid white;
  border-radius: 56px;
  max-width: 100%;
  height: auto;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.hero-image:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.5);
}

/* Projects Section */
.projects {
  padding: 50px 20px;
  animation: fadeInFromRight 1s ease;
}

@keyframes fadeInFromRight {
  from {
      transform: translateX(50%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

.projects .project-description {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 50px auto;
}

.projects .project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 10px;
  justify-items: center;
}

.projects .project-item {
  text-align: center;
  width: 100%;
  max-width: 450px;
  animation: zoomIn 1s ease;
}

@keyframes zoomIn {
  from {
      transform: scale(0.9);
      opacity: 0;
  }
  to {
      transform: scale(1);
      opacity: 1;
  }
}

.projects .project-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projects .project-item img:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.projects .project-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  transition: color 0.3s ease;
  text-align: left;
}
.projects .project-item p{
  text-align: left;
  color: gray;
}


.projects .project-item h3:hover {
  color: #e74c3c;
}

/* Description Section */
.description-highlights {
  display: flex;
  justify-content: flex-end;
  padding: 50px 20px;
  background-color: #000;
  color: #fff;
}

.description-container {
  max-width: 50%;
  font-size: 1.2rem;
  color: #ccc;
  line-height: 1.6;
  text-align: right;
  font-size: 24px
}

/* Project Highlights Section */
.project-highlights {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px;
  background-color: #111;
  color: #fff;
  gap: 40px;

}

.highlights-title {
  flex: 1;
}

.highlights-content {
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
  padding-right: 50px;
}

.highlight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  text-align: left;
}

.highlight h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin-bottom: 0;
}

.highlight p {
  font-size: 1.2rem;
  color: #FFFFFF99;
  ;
  margin: 0;
}

/* Impact Metrics Section */
.impact-metrics {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 50px 20px;
  color: #fff;
  gap: 40px;
}

.metrics-title {
  flex: 1;
}

.metrics-content {
  flex: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.metric {
  padding: 20px;
  border-radius: 8px;
  text-align: left;
  transition: transform 0.3s ease, background-color 0.3s ease;
  border-top: 1px solid rgba(255, 255, 255,0.16);
}


.metric h3 {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}

.metric p {
  font-size: 1rem;
  color: #ccc;
}

.metric:hover {
  transform: scale(1.1);
  background-color: #444;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .description-highlights,
  .project-highlights,
  .impact-metrics {
    flex-direction: column;
    align-items: center;
  }

  .description-container,
  .highlights-title,
  .highlights-content,
  .metrics-title,
  .metrics-content {
    width: 100%;
    text-align: center;
  }

  .highlights-content {
    gap: 30px;
  }

  .metrics-content {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .highlight h3,
  .metric h3 {
    font-size: 1.5rem;
  }

  .highlight p,
  .metric p {
    font-size: 0.9rem;
  }
}


/* Reviews Section */
.reviews {
  padding: 50px 20px;
  text-align: center;
  animation: fadeIn 1.5s ease;
}

.review-holder{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.review-card {
  display: inline-block;
  padding: 20px;
  margin: 10px;
  width: 250px;
  height: 200px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #FFFFFF;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.review-card:hover {
  transform: scale(1.05);
}

.review-card img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.review-card img:hover {
  transform: scale(1.2);
}

/* Contact Section */
/* Contact Section */
.contact {
  padding: 50px 20px;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact-header h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.contact-header p {
  font-size: 1.2rem;
  color: #ccc;
  margin-bottom: 30px;
}

.contact-form {
  max-width: 600px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.contact-form .form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.contact-form label {
  font-size: 1rem;
  margin-bottom: 5px;
  color: #ccc;
}

.two{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}

.two input[type="text"]{
  width: 95%;
}

.para{
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.para div{
  width: 40rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 25px;
  background-color: #222;
  color: #fff;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.contact-form textarea {
  resize: none;
  height: 150px;
}

.contact-form button{
  padding: 10px;
  background-color: white;
  color: black;
  border: none;
  width: 100px;
  border-radius: 25px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.contact-form button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.contact-form button:active {
  transform: scale(0.95);
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .contact-form {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .contact-header h2 {
    font-size: 2rem;
  }

  .contact-header p {
    font-size: 1rem;
  }

  .contact-form button {
    font-size: 1rem;
    padding: 10px;
  }
}



/* Footer */
.footer {
  color: #fff;
  padding: 20px;
  animation: fadeInUp 1s ease;
  border-top: 1px solid #FFFFFF;
}

@keyframes fadeInUp {
  from {
      transform: translateY(100%);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

/* Footer Left */
.footer-left {
  font-size: 1rem;
}

/* Footer Right: Contact Button */
.footer-right {
  text-align: right;
}

.contact-button {
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid #FFFFFF29;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.contact-button:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}
